<% if user.errors.any? %>
  <div class="alert alert-danger">
    <h3>
      <%= pluralize user.errors.count, "error" %>
      prohibited this user from being saved:
    </h3>
    <ul>
      <% user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for user do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>

  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>

  <%= form.label :height %>
  <%= form.number_field :height %>
  <br>

  <%= form.label :happiness %>
  <%= form.number_field :happiness %>
  <br>

  <%= form.label :nausea %>
  <%= form.number_field :nausea %>
  <br>

  <%= form.label :tickets %>
  <%= form.number_field :tickets %>
  <br>

  <%= form.submit %>
<% end %>